<ng-container *ngIf="!loading; else loadingTemplate">
  <div class="margin-div">
    <div class="header">
      <h1>{{data.titolo}}</h1>
      <button (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <ng-container *ngIf="!isSalvataggio && !isBroken">
      <div class="small-text">
        {{data.messaggio}}
      </div>
    </ng-container>
    <ng-container *ngIf="isSalvataggio">
      <div class="div-success small-text">
        {{data.risultato}}
      </div>
    </ng-container>
    <ng-container *ngIf="isBroken">
      <div class="div-error small-text">
        {{messaggioErrore}}
      </div>
    </ng-container>
  </div>



  <div class="buttons" mat-dialog-actions>
    <p (click)="onNoClick()" class="annulla-button">Annulla</p>
    <ng-container *ngIf="!isSalvataggio && !isBroken; else buttonHomepage">
      <button (click)="onSave()" class="aggiungi-button" color="primary" mat-raised-button [disabled]="isSubmitting">Conferma</button>
    </ng-container>
    <ng-template #buttonHomepage>
      <button [mat-dialog-close]="data" [routerLink]="['/', 'home']" class="aggiungi-button" color="primary"
        mat-raised-button>Torna alla homepage</button>
    </ng-template>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <mat-spinner style="margin: 20px auto"></mat-spinner>
</ng-template>
