<form [formGroup]="allegatiForm">
  <mat-card>
    <mat-card-header>
      <p class="card-header">Allegati</p>
    </mat-card-header>
    <mat-card-content style="width: 85%">
      <div class="d-flex-between m-14" >
          <p class="small-text">Provvedimento di approvazione del progetto (DDG) (formato PDF - dimensione max 20 MB)</p>&nbsp;
          <mat-form-field class="input-field">
            <mat-label>Num</mat-label>
            <input type="string" formControlName="intAllegatoNumero" matInput placeholder="Num" readonly="{{disableRegionali()}}">
          </mat-form-field>
          <div class="form-row">
            <label>Data: </label>
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" placeholder="gg/mm/aaaa" formControlName="intAllegatoData" [max]="maxDate" readonly  (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="{{disableRegionali()}}"></mat-datepicker>
            </mat-form-field>
          </div>
          &nbsp;&nbsp;&nbsp;
        

          <div *ngIf="!disableRegionali()">
           
            <p (click)="fileInput1.click()" class="upload-button" *ngIf="canEdit">Allega</p>

            <input #fileInput1 type="file" accept=".pdf" (change)="onFileSelectedProvvedimentoAziendaleDiApprovazione($event)" style="display: none" />
            <!-- Mostra il file se è stato caricato -->
            <div *ngIf="fileNameProvvedimentoAziendaleDiApprovazione" class="allegato-div">
              <!-- Nome del file e link per la visualizzazione -->
              <a [href]="fileUrlProvvedimentoAziendaleDiApprovazione" [download]="fileNameProvvedimentoAziendaleDiApprovazione" target="_blank" class="upload-button">{{ fileNameProvvedimentoAziendaleDiApprovazione }}</a>

              <!-- Icona del cestino per rimuovere il file -->
              <button mat-icon-button (click)="removeFileProvvedimentoAziendaleDiApprovazione()" style="color: red;" *ngIf="canEdit">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div *ngIf="disableRegionali()">     
            <input #fileInput1 type="file" accept=".pdf" (change)="onFileSelectedProvvedimentoAziendaleDiApprovazione($event)" style="display: none" />
            <!-- Mostra il file se è stato caricato -->
            <div *ngIf="fileNameProvvedimentoAziendaleDiApprovazione" class="allegato-div">
              <!-- Nome del file e link per la visualizzazione -->
              <a [href]="fileUrlProvvedimentoAziendaleDiApprovazione" [download]="fileNameProvvedimentoAziendaleDiApprovazione" target="_blank" class="upload-button">{{ fileNameProvvedimentoAziendaleDiApprovazione }}</a>
            </div>
          </div>

      </div>

      <div class="d-flex-between m-14" >
        <p class="small-text">Relazione tecnica (formato PDF - dimensione max 20 MB)</p>
        <mat-form-field class="input-field">
          <mat-label>Num</mat-label>
          <input type="string" formControlName="intAllegatoNumeroRT" matInput placeholder="Num" readonly="{{disableRegionali()}}">
        </mat-form-field>
        <div class="form-row">
          <label>Data: </label>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="pickerRT" placeholder="gg/mm/aaaa" formControlName="intAllegatoDataRT" [max]="maxDate" readonly  (click)="pickerRT.open()">
            <mat-datepicker-toggle matSuffix [for]="pickerRT"></mat-datepicker-toggle>
            <mat-datepicker #pickerRT disabled="{{disableRegionali()}}"></mat-datepicker>
          </mat-form-field>
        </div>
        &nbsp;&nbsp;&nbsp;
        
        <div *ngIf="!disableRegionali()">
           
          <p (click)="fileInput2.click()" class="upload-button" *ngIf="canEdit">Allega</p>

          <input #fileInput2 type="file" accept=".pdf" (change)="onFileSelectedRelazioneTecnica($event)" style="display: none" />
          <!-- Mostra il file se è stato caricato -->
          <div *ngIf="fileNameRelazioneTecnica" class="allegato-div">
            <!-- Nome del file e link per la visualizzazione -->
            <a [href]="fileUrlRelazioneTecnica" [download]="fileNameRelazioneTecnica" target="_blank" class="upload-button">{{ fileNameRelazioneTecnica }}</a>

            <!-- Icona del cestino per rimuovere il file -->
            <button mat-icon-button (click)="removeFileRelazioneTecnica()" style="color: red;" *ngIf="canEdit">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div *ngIf="disableRegionali()">     
          <input #fileInput2 type="file" accept=".pdf" (change)="onFileSelectedRelazioneTecnica($event)" style="display: none" />
          <!-- Mostra il file se è stato caricato -->
          <div *ngIf="fileNameRelazioneTecnica" class="allegato-div">
            <!-- Nome del file e link per la visualizzazione -->
            <a [href]="fileUrlRelazioneTecnica" [download]="fileNameRelazioneTecnica" target="_blank" class="upload-button">{{ fileNameRelazioneTecnica }}</a>
          </div>
        </div>
      </div>
        <div *ngIf="noteAttive">
          <h4>Note
          </h4>
          <div>
            <mat-form-field class="note-textarea-field">
              <mat-label>Note</mat-label>
              <textarea formControlName="note" matInput  [maxLength]="255" readonly="{{disableRegionali()}}"></textarea>
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</form>
