<div class="layout-footer__links my-custom-style" style="display: grid; grid-template-columns: 33.333% 33.333% 33.333%; padding: 20px 16px;">
  <div class="footer__text div-sisp">
    <div class="text-h6 text-bold">
      Sistemapiemonte
    </div>
    <div class="text-caption">
      Un servizio a cura della regione Piemonte
    </div>
    <div class="text-caption">
      P.Iva 02843860012 - CF 80087670016
    </div>
  </div>

  <div class="footer__text text-link div-link">
    <!--a href="#">note di utilizzo</a> -
    <a href="#">privacy e cookie</a> -
    <a href="#">contatti</a -->
  </div>
  <div class="footer__text div-logo">
    <img src="/assets/CSI_2020_negativo.png" style="width: 130px;">
  </div>
</div>
