<h1 class="pgmeas-primary-text">{{title}}</h1>
<ng-container *ngIf="!loading; else loadingTemplate">
  <ng-container *ngIf="!salvataggioEffettuato; else salvataggioTemplate">
    <mat-card style="margin-bottom: 40px">
      <mat-card-header class="triennio-container">
        <a>
          <h2>Riferimenti temporali dell'intervento</h2>
        </a>
        <button mat-flat-button color="primary" class="button-copia " style="margin-right: 10px; margin-top: 10px"
          (click)="apriCopiaIntervento()">
          Recupera Intervento
        </button>
      </mat-card-header>
      <mat-card-content>
        <div class="date-programmazioni">
          <p class="small-text">
            Triennio: <b>{{ user.programmazione.triennio }}</b>
          </p>
        </div>
        <div class="date-programmazioni">
          <p class="small-text">
            Anno di inserimento intervento:
            <b>{{ user.programmazione.annoInserimentIntervento }}</b>
          </p>
        </div>
        <div class="date-programmazioni">
          <div class="date-margin" class="small-text">
            Data inizio programmazione:
            <b>{{ user.programmazione.dataInizioProgrammazione }}</b>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="small-text">
            Data fine programmazione:
            <b>{{ user.programmazione.DataFineProgrammazione }}</b>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <div class="small-text" *ngIf="user.programmazione.dataFineProroga">
            Data fine proroga:
            <b>{{ user.programmazione.dataFineProroga }}</b>
          </div>
        </div>
        <div class="date-programmazioni">
          <p class="small-text">
            Data di inserimento dell'intervento: <b>{{ today }}</b>
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-bottom: 40px">
      <mat-card-header>
        <h2>Localizzazione dell'intervento</h2>
      </mat-card-header>
      <mat-card-content>
        <div class="date-programmazioni">
          <p class="small-text">
            Azienda: <b>{{ user.descAzienda }}</b>
          </p>
        </div>
        <div class="date-programmazioni">
          <p class="small-text">
            Quadrante: <b>{{ user.descrQuadrante }}</b>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
    <form [formGroup]="insertionForm" (ngSubmit)="submit()">
      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Strutture</h4>
          <div style="display: grid; gap: 20px">

            <div class="form-container">
              <mat-form-field class="form-field">
                <mat-label>Denominazione Struttura, Descrizione Struttura</mat-label>

                <!-- Input per Autocomplete -->
                <input type="text" matInput [formControl]="strutturaControl" [matAutocomplete]="auto" (focus)="resetStrutturaFilteredList()">

                <!-- Lista Autocomplete -->
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let struttura of strutturaFilteredList | async" [value]="struttura">
                    {{ struttura.strDenominazione }}
                    <ng-container *ngIf="!checkStruttura(struttura.strId); else dicituraNonCensita">({{struttura.strCod}})</ng-container>
                    <ng-template #dicituraNonCensita> - Struttura non censita</ng-template>
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>

              <app-add-strutture
              [formStrutture]="struttureAggiunte"
              [enteId]="user.enteId"
              [strutturaFilteredList]="strutturaFilteredList"
              (strutturaAggiunta)="gestisciStrutturaAggiunta($event)"></app-add-strutture>
            </div>

            <button mat-flat-button color="primary" style="margin-right: 10px" class="small-button button-margin"
              type="button" (click)="addStruttura()" disabled="{{disableInserisciStruttura()}}">
              Inserisci struttura
            </button>

          </div>
          <mat-error *ngIf="erroreDuplicato" class="error-margin-bottom">La struttura risulta già
            selezionata</mat-error>
          <div formArrayName="struttureAggiunte">
            <ng-container *ngFor="
            let strutturaInsInt of struttureAggiunte.controls;
            let index = index
          " [formGroupName]="index">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <h4 class="pgmeas-primary-text">{{ strutturaInsInt.value.struttura?.strDenominazione }}
                    <ng-container *ngIf="!checkStruttura(strutturaInsInt.value.struttura.strId)">({{ strutturaInsInt.value.struttura?.strCod }})</ng-container>
                  </h4>
                </mat-expansion-panel-header>
                <!-- informazioni per la struttura non censita -->
                <div *ngIf="checkStruttura(strutturaInsInt.value.struttura.strId)">
                  <ng-container *ngIf="strutturaInsInt.value.struttura.strNonCensita; else strutturaNuova"><p class="small-text">Struttura non censita</p></ng-container>
                  <ng-template #strutturaNuova><p class="small-text">Nuova Struttura</p></ng-template>
                  <p class="small-text" *ngIf="strutturaInsInt.value.struttura.strComune">
                    Comune Struttura: {{ strutturaInsInt.value.struttura.strComune }}
                  </p>
                  <p class="small-text" *ngIf="strutturaInsInt.value.struttura.strIndirizzo">
                    Indirizzo: {{ strutturaInsInt.value.struttura.strIndirizzo }}
                  </p>
                  <p class="small-text" *ngIf="strutturaInsInt.value.struttura.strDatiCatastali">
                    Dati Catastali: {{ strutturaInsInt.value.struttura.strDatiCatastali }}
                  </p>
                  <p class="small-text" *ngIf="strutturaInsInt.value.struttura.note">
                    Note: {{ strutturaInsInt.value.struttura.note }}
                  </p>
                </div>
                <p *ngIf="!checkStruttura(strutturaInsInt.value.struttura.strId)" class="small-text">
                  Comune Struttura: {{ strutturaInsInt.value.struttura.strComune }}
                </p>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h4>Tipo Intervento Edilizio (ex art. 3 D.P.R. 380 del 6 giugno 2001)</h4>
                  </mat-expansion-panel-header>
                  <div formArrayName="listaInterventiEdilizi">
                    <ng-container *ngFor="let intervento of getListaInterventiEdilizi(index).controls, let i = index"
                      [formGroupName]="i">
                      <div class="intervento-edilizio-div small-text"
                        [ngStyle]="{'margin-left.px': getMarginFromSpazi(intervento.value.livello), 'margin-bottom': !intervento.value.selezionabile ? '20px' : '0'}">
                        <mat-slide-toggle style="margin-bottom: 20px" *ngIf="intervento.value.selezionabile"
                          formControlName="selezionato" />
                        <span *ngIf="!intervento.value.selezionabile"
                          style="display: inline-block; width: 40px;"></span>
                        {{ intervento.value.descrizione }}
                      </div>
                    </ng-container>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h4>Costo complessivo della struttura</h4>
                  </mat-expansion-panel-header>
                  <mat-form-field class="custom-costo-width">
                    <mat-label>Costo Struttura</mat-label>
                    <!-- <input matInput type="number" formControlName="costoStruttura" min="0" style="text-align: right;"
                      (keypress)="allowOnlyNumbers($event)" 
                    appForceTwoDecimals/> -->
                    <input
                    matInput
                    style="text-align: right;"
                    type="text"
                    currencyMask
                  formControlName="costoStruttura"
                    [options]="{  thousands: '.', decimal: ',', precision:2 ,prefix:'',suffix:'', allowNegative: false,inputMode:natural,nullable :true}"
                  >
                  </mat-form-field><a style="padding-left: 10px;">€</a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h4>
                      Cronoprogramma della Struttura (in giorni naturali
                      consecutivi)
                    </h4>
                  </mat-expansion-panel-header>
                  <p class="small-text">
                    La durata deve essere comprensiva di tutte le procedure
                    amministrative propedeutiche all'approvazione di ogni singola
                    fase
                  </p>
                  <div class="durata-stimata-div">
                    <mat-form-field class="durata-stimata-input">
                      <mat-label>PROGETTAZIONE</mat-label>
                      <input matInput type="number" formControlName="progettazione" min="0"
                        (keypress)="allowOnlyNumbers($event)" />
                    </mat-form-field>
                    <mat-form-field class="durata-stimata-input">
                      <mat-label>AFFIDAMENTO LAVORI</mat-label>
                      <input matInput type="number" formControlName="affidamentoLavori" min="0"
                        (keypress)="allowOnlyNumbers($event)" />
                    </mat-form-field>
                    <mat-form-field class="durata-stimata-input">
                      <mat-label>ESECUZIONE LAVORI</mat-label>
                      <input matInput type="number" formControlName="esecuzioneLavori" min="0"
                        (keypress)="allowOnlyNumbers($event)" />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>COLLAUDO</mat-label>
                      <input matInput type="number" formControlName="collaudo" min="0"
                        (keypress)="allowOnlyNumbers($event)" />
                    </mat-form-field>
                  </div>
                  <div class="appalto-integrato-div">
                    <p class="appalto-integrato-p" class="small-text">APPALTO INTEGRATO</p>
                    <mat-slide-toggle formControlName="appaltoIntegrato"></mat-slide-toggle>
                  </div>
                  <p class="small-text">
                    Totale durata stimata della struttura(in giorni naturali complessivi):
                    <b>{{ strutturaInsInt.value.totaleDurataStimataIntervento }}</b>
                  </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h4>Quadro economico</h4>
                  </mat-expansion-panel-header>
                  <!-- <div formArrayName="listaQuadroEconomico">
                    <ng-container *ngFor="let quadro of getListaQuadroEconomico(index).controls, let i = index"
                      [formGroupName]="i">
                      <div
                        [ngStyle]="{'margin-left.px': getMarginFromSpazi(quadro.value.livello), 'margin-bottom': !quadro.value.selezionabile ? '20px' : '0'}"
                        class="small-text">
                        {{ quadro.value.descrizione }}
                        <div *ngIf="quadro.value.selezionabile">
                          <mat-form-field>
                            <input matInput type="text" formControlName="valoreNumerico" min="0"
                              style="text-align: right;" (keypress)="allowOnlyNumbers($event)" />
                          </mat-form-field><a *ngIf="quadro.value.selezionabile" style="padding-left: 10px;">€</a>
                        </div>
                      </div>
                    </ng-container>
                  </div> -->
                  <app-quadro-economico-centralized [form]="getStrutturaForm(index)"
                    [appaltoIntegrato]="strutturaInsInt.value.appaltoIntegrato" [isVisualizzazione]="false"
                    [isRequired]="false" [idIntervento]="intCopiatoId">
                  </app-quadro-economico-centralized>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <h4>Responsabili</h4>
                  </mat-expansion-panel-header>
                  <div class="form-row">
                    <div>
                      <label class="small-text">Responsabile della Struttura Complessa o facente funzione: </label>
                      <div class="responsabile-div">
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Nome</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrComplesNome" />
                        </mat-form-field>
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Cognome</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrComplesCognome" />
                        </mat-form-field>
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Codice Fiscale</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrComplesCf" appUppercase />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div>
                      <label class="small-text">Responsabile della Struttura Semplice o facente funzione: </label>
                      <div class="responsabile-div">
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Nome</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrSemplNome" />
                        </mat-form-field>
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Cognome</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrSemplCognome" />
                        </mat-form-field>
                        <mat-form-field class="inputResponsabile">
                          <mat-label>Codice Fiscale</mat-label>
                          <input matInput type="text" formControlName="intstrRespStrSemplCf" appUppercase />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
                <div>
                  <button mat-flat-button color="warn" style="margin-right: 10px" class="small-button" type="button"
                    (click)="removeStruttura(index)">
                    Elimina struttura
                  </button>
                </div>
              </mat-expansion-panel>

            </ng-container>
          </div>
        </mat-card-content>

      </mat-card>


      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Principali indicatori dell’intervento</h4>
          <div class="form-row">
            <mat-form-field class="custom-width">
              <mat-label>Cup</mat-label>
              <input matInput type="text" formControlName="cup" [maxLength]="15" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width">
              <mat-label>Codice PGMEAS intervento</mat-label>
              <input matInput type="text" formControlName="codInterventoPGMEAS" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width long-select">
              <mat-label>Codice PGMEAS intervento origine</mat-label>
              <input matInput type="text" formControlName="codInterventoOriginePGMEAS" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width long-select">
              <mat-label>Anno inserimento intervento origine</mat-label>
              <input matInput type="text" formControlName="annoInserimentoInterventoOrigine" min="0"
                (keypress)="allowOnlyNumbers($event)" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width long-select">
              <mat-label>Codice NSIS intervento</mat-label>
              <input matInput type="text" formControlName="codNSISIntervento" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="titolo-textarea-field long-select">
              <mat-label>Titolo Intervento</mat-label>
              <textarea formControlName="titoloIntervento" matInput [maxLength]="255"></textarea>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Obiettivo dell'intervento</mat-label>
              <mat-select formControlName="obiettivo" multiple>
                <mat-option *ngFor="let obiettivo of obiettivoList" [value]="obiettivo.intObiettivoId">
                  {{ obiettivo.intObiettivoDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Finalita' dell'intervento: </mat-label>
              <mat-select formControlName="finalita" multiple>
                <mat-option *ngFor="let finalita of finalitaList" [value]="finalita.intFinalitaId">
                  {{ finalita.intfinalitaDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Tipologia intervento</mat-label>
              <mat-select formControlName="tipologia" multiple>
                <mat-option *ngFor="let tipo of interventoTipoList" [value]="tipo.intTipoId">
                  {{ tipo.intTipoDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Descrizione attrezzatura</mat-label>
              <mat-select formControlName="attrezzatura" multiple>
                <mat-option *ngFor="let attrezzatura of attrezzaturaList" [value]="attrezzatura.intTipoDetId">
                  {{ attrezzatura.intTipoDetDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Categoria intervento</mat-label>
              <mat-select formControlName="categoria" multiple>
                <mat-option *ngFor="let categoria of categoriaList" [value]="categoria.intCategoriaId">
                  {{ categoria.intCategoriaDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row remove-spinner">
            <mat-form-field class="custom-width">
              <mat-label>Anno priorita'</mat-label>
              <input matInput type="text" formControlName="annoPriorita" min="0" [appNumericLimiter]="4"
                (keypress)="onlyNumbers($event);" (blur)="checkAnnoPriorita($event)" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width">
              <mat-label>Priorita'</mat-label>
              <input matInput type="text" [appNumericLimiter]="2" formControlName="priorita"
                (keypress)="onlyNumbers($event)" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-width">
              <mat-label>Sotto-priorita'</mat-label>
              <input matInput type="text" maxlength="1" formControlName="sottoPriorita"
                (keypress)="allowOnlyChar($event)" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Tipologia contrattuale</mat-label>
              <mat-select formControlName="contrattoTipo" multiple>
                <mat-option *ngFor="let contratto of contrattoTipoList" [value]="contratto.intContrattoTipoId">
                  {{ contratto.intContrattoTipoDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Tipologia appalto</mat-label>
              <mat-select formControlName="appaltoTipo" multiple>
                <mat-option *ngFor="let appalto of appaltoTipoList" [value]="appalto.intAppaltoTipoId">
                  {{ appalto.intAppaltoTipoDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="custom-select long-select">
              <mat-label>Stato progettuale</mat-label>
              <mat-select formControlName="statoProg" multiple>
                <mat-option *ngFor="let statoProg of statoProgList" [value]="statoProg.intStatoProgId">
                  {{ statoProg.intStatoProgDesc }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Costo complessivo dell'intervento
          </h4>
          <mat-form-field class="custom-costo-width">
            <mat-label>Costo Intervento</mat-label>
           <!-- <input matInput style="text-align: right;" type="number" formControlName="costoIntervento"
              (keypress)="allowOnlyNumbers($event)" appForceTwoDecimals />-->
             <input
             matInput
             style="text-align: right;"
             type="text"
             currencyMask
           formControlName="costoIntervento"
             [options]="{  thousands: '.', decimal: ',', precision:2 ,prefix:'',suffix:'', allowNegative: false,inputMode:natural,nullable :true}"
           >
          </mat-form-field><a style="padding-left: 10px;">€</a>
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Durata stimata dell'intervento (in giorni naturali
            consecutivi)
          </h4>
          <p class="small-text">
            La durata deve essere comprensiva di tutte le procedure
            amministrative propedeutiche all'approvazione di ogni singola
            fase
          </p>
          <div class="durata-stimata-div">
            <mat-form-field class="durata-stimata-input">
              <mat-label>PROGETTAZIONE</mat-label>
              <input matInput type="number" formControlName="progettazione" min="0"
                (keypress)="allowOnlyNumbers($event)" />
            </mat-form-field>
            <mat-form-field class="durata-stimata-input">
              <mat-label>AFFIDAMENTO LAVORI</mat-label>
              <input matInput type="number" formControlName="affidamentoLavori" min="0"
                (keypress)="allowOnlyNumbers($event)" />
            </mat-form-field>
            <mat-form-field class="durata-stimata-input">
              <mat-label>ESECUZIONE LAVORI</mat-label>
              <input matInput type="number" formControlName="esecuzioneLavori" min="0"
                (keypress)="allowOnlyNumbers($event)" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>COLLAUDO</mat-label>
              <input matInput type="number" formControlName="collaudo" min="0" (keypress)="allowOnlyNumbers($event)" />
            </mat-form-field>
          </div>
          <div class="appalto-integrato-div">
            <p class="appalto-integrato-p small-text">APPALTO INTEGRATO</p>
            <mat-slide-toggle formControlName="appaltoIntegrato"></mat-slide-toggle>
          </div>
          <p class="small-text">
            Totale durata stimata dell'intervento:
            <b>{{ insertionForm.value.totaleDurataIntervento }}</b>
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Responsabili dell'intervento
          </h4>
          <div class="form-row">
            <div>
              <label class="small-text">Direttore Generale: </label>
              <div class="responsabile-div">
                <mat-form-field class="inputResponsabile">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="direttoreNome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Cognome</mat-label>
                  <input matInput type="text" formControlName="direttoreCognome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Codice fiscale</mat-label>
                  <input matInput type="text" formControlName="direttoreCF" appUppercase />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label class="small-text">Commissario: </label>
              <div class="responsabile-div">
                <mat-form-field class="inputResponsabile">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="commissarioNome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Cognome</mat-label>
                  <input matInput type="text" formControlName="commissarioCognome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Codice fiscale</mat-label>
                  <input matInput type="text" formControlName="commissarioCF" appUppercase />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label class="small-text">RUP: </label>
              <div class="responsabile-div">
                <mat-form-field class="inputResponsabile">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="rupNome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Cognome</mat-label>
                  <input matInput type="text" formControlName="rupCognome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Codice fiscale</mat-label>
                  <input matInput type="text" formControlName="rupCF" appUppercase />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label class="small-text">Referente Pratica: </label>
              <div class="responsabile-div">
                <mat-form-field class="inputResponsabile">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="referenteNome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Cognome</mat-label>
                  <input matInput type="text" formControlName="referenteCognome" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Codice fiscale</mat-label>
                  <input matInput type="text" formControlName="referenteCF" appUppercase />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>Telefono</mat-label>
                  <input matInput type="text" formControlName="referenteTelefono" />
                </mat-form-field>
                <mat-form-field class="inputResponsabile">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="text" formControlName="referenteEmail" />
                </mat-form-field>
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card style="margin-bottom: 40px">
        <mat-card-content>
          <h4>Delibere aziendali dell'intervento
          </h4>
          <div class="form-row">
            <mat-form-field class="custom-width">
              <mat-label>Delibera aziendale di approvazione num</mat-label>
              <input matInput type="text" formControlName="delibera" />
            </mat-form-field>
          </div>
          <div class="form-row">
            <label>Data della delibera aziendale di approvazione: </label>
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker" placeholder="gg/mm/aaaa" formControlName="dataDelibera"
                [max]="maxDate" readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <h4>Allegato
          </h4>
          <div>
            <label style="margin-right: 10px;">Atto di approvazione aziendale</label>
            <p (click)="fileInput.click()" class="upload-button">Allega</p>

            <input #fileInput type="file" accept=".pdf" (change)="onFileSelected($event)" style="display: none" />
            <!-- Mostra il file se è stato caricato -->
            <div *ngIf="fileName" class="allegato-div">
              <!-- Nome del file e link per la visualizzazione -->
              <a [href]="fileUrl" [download]="fileName" target="_blank" class="upload-button">{{ fileName }}</a>

              <!-- Icona del cestino per rimuovere il file -->
              <button mat-icon-button (click)="removeFile()" style="color: red;">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <h4>Note
          </h4>
          <div>
            <mat-form-field class="note-textarea-field">
              <mat-label>Note</mat-label>
              <textarea formControlName="note" matInput [maxLength]="255"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="search-container">
        <div class="buttons" mat-dialog-actions>
          <p (click)="reset()" class="annulla-button">Annulla</p>
        </div>
        <button mat-flat-button color="primary" style="margin-right: 10px; margin-top: 10px" [disabled]="isSubmitting">
          Inserisci
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>
<ng-template #salvataggioTemplate>
  <app-success [selettore]="'SALVATAGGIO'" [intId]="intId"
    [message]="'Inserimento dell\'intervento completato con successo.'"></app-success>
</ng-template>
<ng-template #loadingTemplate>
  <mat-spinner style="margin: 20px auto"></mat-spinner>
</ng-template>
