<h1 class="pgmeas-primary-text"><mat-icon>badge</mat-icon> {{user.getLabel()}} <span *ngIf="!user.isSuperUser()" >- {{user.getUser().descCollocazione}}</span></h1>

<h2>Benvenuto {{user.getUser().nome }} {{user.getUser().cognome}}</h2>
<p>La piattaforma informatica a supporto del processo di programmazione, gestione e monitoraggio degli investimenti in edilizia e attrezzatura sanitarie per gli operatori della Regione Piemonte e delle Aziende Sanitarie Regionali.</p>

<!-- Contenitore per le immagini -->
<div class="image-container">
    <img src="/assets/Raggruppa 27313.svg" alt="Immagine 3" class="image-item image-item-1" />
    <img src="/assets/Raggruppa 27001.svg" alt="Immagine 1" class="image-item image-item-2" />
    <img src="/assets/Raggruppa 27172.svg" alt="Immagine 2" class="image-item image-item-3" />
</div>
  