.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    padding: 0;
    font-size: 20px;
    color: black;
  }

  button {
    background-color: transparent;
    border: none !important;
    cursor: pointer;
  }
}

.div-success {
  background-color: #A6D5AB;
}

.div-error {
  background-color: rgb(220, 98, 98);
}

.aggiungi-button {
  background: #005CA9 0 0 no-repeat padding-box;
  border-radius: 3px;
  color: white;
}

.annulla-button {
  color: #005CA9;
  font-size: 14px;
  cursor: pointer;
}

.small-text {
  font-size: 14px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 40%;
  }
}

.margin-div {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-error {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.small-text {
  font-size: 14px;
}

.flex-div {
  display: flex;
  align-items: center;
}

.date-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.date-b {
  margin-left: 0.5rem;
}

.error-text{
  padding: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
}

.title{
  font-size: 20px;
  color: black;
}

.margin-button{
  margin-top: 0.5rem;
  padding-right: 0px;
}
