
<div *ngIf="sel === 'ins-int'">
    <h1>Inserisci Intervento</h1>
    <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'mod-int'">
    <h1>Consulta intervento</h1>
    <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'liq'">
    <h1>Liquidazioni</h1>
    <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'eco'">
    <h1>Economie</h1>
    <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'var'">
    <h1>Varianti in corso d'opera</h1>
    <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'insmon'">
  <h1>Inserisci dati monitoraggio</h1>
  <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'consmon'">
  <h1>Consulta Monitoraggio</h1>
  <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'ricammfis'">
  <h1>Richiesta ammissione finanziamento</h1>
  <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>
<div *ngIf="sel === 'consricammfis'">
  <h1>Consulta richiesta ammissione finanziamento</h1>
  <p>Questa pagina  in fase di realizzazione conterrà le funzionalità relative alla voce di menù selezionata.</p>
</div>



