
body {
    font-family:sans-serif;
    font-size:14px;
}

@page {
    size: A4 portrait;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;

    @bottom-center {
        content: element(footer);
        vertical-align: top;
        padding-top: 1em;
    }

    @top-center {
        content: element(header);
        vertical-align: bottom;
        padding-bottom: 1em;
    }
}

div.header {
    display: block;
    position: running(header);
    border-bottom: 1px solid black;
    margin-top: 4em;
}

div.footer {
    margin-top: 0.5cm;
    display: block;
    position: running(footer);
    border-top: 1px solid black;
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

.page-break {
    page-break-before: always;
}


table.economicFramework, table.financialPlan {
    page-break-inside: avoid;
    width: 100%;
}

table.economicFramework td, table.financialPlan td {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

table.economicFramework th, table.financialPlan th {
    font-weight: bold;
    text-align:left;
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

div.actuator{
    padding: 2em;
    background-color: #BBB;
}
div.model{
    margin-top: 2em;
    border: 2px solid black;
    width: 30%;
    text-align: center;
    margin-left: auto;
}
div.model H1 {
    margin: 0;
    padding: 0;
}
div.addressedTo, div.addressedCc{
    width: 50%;
    text-align: left;
    margin-left: auto;
}
div.subject{
    margin-top: 2em;
}
div.signatures{
    margin-top: 4em;
    margin-bottom: 8em;
}
div.reference{
    border: 1px solid black;
}
